.episode-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 100vh;
}

.episode-box {
  padding: .5rem
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5rem;
  position: sticky;
  top: 0;
}

.header > div {
  padding: 0 10px;
}

.btn {
  cursor: pointer;
  border: 1px solid grey;
  font-variant: small-caps;
  border-radius: 2px;
  margin: 3px;
}

.btn:hover {
  border: 2px solid rgba(70, 144, 255, .6);
  margin: 2px;
}

.btn:active {
  border: 3px solid rgba(70, 144, 255, .8);
  margin: 1px;
}